<header>
    <div class="header_logo">
        <i class="fa-solid fa-dumbbell logo"></i>
    </div>
    <h2 class="logo_text">
        <a href="/">Fitness & Gym</a>
    </h2>
    <div class="btn_menu">
        <button class="btn btn_open" id="btn_open">
            <i class="fa-solid fa-bars"></i>
        </button>
        <button class="btn btn_close btn-hidden" id="btn_close">
            <i class="fa-solid fa-x"></i>
        </button>
    </div>
    <nav class="menu">
        <a href="/" class="menu_link">Home</a>
        <a href="/about" class="menu_link">About</a>
        <a href="/classes" class="menu_link">Classes</a>
        <a href="/contact" class="menu_link">Contac</a>
    </nav>
</header>