---
metaDescription: Gym Template, page of contact. send us a message for more information
title: Gym | Contact 
titlePage: Contact Us
layout: layout-page
---

<section class="hero_image hero-contact">
    <div class="hero_imagen_content">
        <h1 class="hero_title">{{ titlePage }}</h1>
        <p class="hero_text">Discipline is the basis of success.</p>
        <p class="hero_text">Get up, train, repeat.</p>
    </div>
</section>
<section class="contact bgc-2 pd-3">
    <div class="container">
        <h2 class="title">Send Us A Message</h2>
        <div class="form_contact">
            <form>
                <input type="text" name="name" id="name" placeholder="Name"/>
                <input type="email" name="email" id="email" placeholder="Email"/>
                <textarea name="comment" id="commet" placeholder="Commet"></textarea>
                <input type="submit" value="Send"/>
            </form>
        </div>
    </div>
</section>
<section class="bgc-1 pd-3">
    <div class="container">
        <h3 class="title">Locate Us</h3>
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d364.8935047594174!2d-73.96565067551145!3d40.77442259642042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses-419!2smx!4v1717381352064!5m2!1ses-419!2smx"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>